.app-header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	background: $gradient-theme;
	box-shadow: none;
	transition: all 0.3s ease-in-out;

	&.active {
		box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
	}

	.wrapper {
		display: flex;
		height: 100%;

		a {
			color: $pure-white;
			text-decoration: none;

			.MuiSvgIcon-root {
				width: 1.25em;
				height: 1.25em;
				margin: -0.2em 0 0 -0.25em;
			}
		}

		.header-logo {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-weight: bold;
			font-size: 1.7em;
		}

		.greeter {
			display: flex;
			align-items: center;
			margin-right: 2em;
			color: white;
		}

		.site-nav {
			display: flex;
			margin-left: auto;

			ul {
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				padding: 0;
				height: 100%;

				li {
					list-style: none;
					height: 100%;
					padding: 0;

					a {
						position: relative;
						height: 100%;
						display: block;
						transition: all 0.3s ease-in;

						&.active {

							&:after {
								content: '';
								background-color: $pure-white;
								height: 0.17em;
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
							}
						}
					}

					.MuiButton-contained {
						height: 100%;

						&:hover {
							background-color: rgba(255, 255, 255, 0.15);
							border-radius: 0;
						}
					}
				}
			}
		}
	}
}

.app-main {
	padding: $header-height 0 0;

	.jumbotron {

		background-image: url(../../assets/img/cover.png);
		color: $pure-white;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-position: center center;
		height: 31vh;

		h1 {
			margin-top: 1em;
			text-transform: uppercase;
			font-weight: bold;
			color: $pure-white;
			font-size: 2.25em;
			text-shadow: 1px 2px 2px rgba(35, 109, 97, 0.6);

			span {
				font-size: 1.2em;
				color: $color-theme-green;
			}
		}

		.search-form {
			width: 100%;

			.formik-field {
				.MuiIconButton-root {
					padding: 5px;
					margin-top: -2px;
					border-radius: 8px 8px 0 0;
					color: $pure-white;
					background-color: $color-theme-green;

					&:hover {
						background-color: #43C99F;
					}
				}
			}
		}

		&:after {
			content: " ";
			position: absolute;
			background-repeat: no-repeat;
			overflow: hidden;
			bottom: -3px;
			left: 0;
			right: 0;
			width: 100%;
			padding-bottom: 3.4722222222%;
			background-image: url(../../assets/svg/wave-mask.svg);
			background-size: cover;
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 1em 0 3em;

		&.categories {

			padding-bottom: 2em;

			.categories-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 80%;

				.category-point {
					position: relative;
					flex: 1 1 15%;
					margin: 0 0.5em 2.5em;
					padding-bottom: 2em;

					.category {
						color: $pure-white;
						background-color: $color-theme-green;
						border-radius: 50%;
						width: 5.2em;
						height: 5.2em;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						margin: 0 auto;

						& ~ p {
							display: none;
							position: absolute;
							left: 0;
							right: 0;
							text-align: center;
							min-height: 2em;
							padding: 0.5em 0 0;
							color: $color-theme-green;
							font-size: 1.25em;
						}

						&:hover ~ p {
							display: block;

						}


						&:hover {
							background-color: #46CD9A;

							img {
								width: 90%;
							}
						}

						img {
							width: 80%;
							transition: all 0.1s ease-in;
						}
					}
				}
			}
		}

		&.login,
		&.register,
		&.create-offer,
		&.edit-offer,
		&.delete-offer {

			.login-from,
			.register-from,
			.offer-from {

				width: 24em;

				p {
					.MuiFormControl-root {
						width: 100%;
					}

					.MuiSvgIcon-root {
						color: #707070;
					}

					.email {
						.MuiSvgIcon-root {
							margin: 0 0.45em 0 0;
						}
					}

					margin: 0 0 2em;
				}

				button.MuiButton-containedPrimary {
					margin-top: 2em;
					width: 100%;
				}
			}
		}

		&.view-offer {
			.view-offer-img-wrapper {
				display: block;
				position: relative;
				width: 80%;
				height: 0;
				padding-bottom: 45%;
				overflow: hidden;
				border-radius: 0.25em;
				background: rgba(255, 255, 255, 0.5);
				box-shadow: 0 0 1px 0 white inset, 0.1em 0.2em 0.5em 0 rgba(0, 0, 0, 0.2);

				img {
					width: 100%;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.view-offer-back-btn {
				width: 15em;
			}
		}
	}
}

.app-footer {
	margin-top: auto;
	background: $gradient-theme;
	color: $pure-white;

	.wrapper {
		min-height: 3em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.copy-icon {
			margin: -0.09em 0.15em 0;
			height: 0.75em;
		}

		span {

			&.site-name {
				font-weight: bold;
				font-size: 1.25em;
				padding: 0 0.5em;
			}

			&.dev-by {
				padding: 0 0.5em;
			}
		}



		a {
			color: $pure-white;

			&.developer {

				img {
					height: 1.75em;
				}
			}
		}
	}
}
