.app-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	background: $color-theme-green;

	.wrapper {
		display: flex;
		height: 100%;

		a {
			color: $pure-white;
			text-decoration: none;

			.MuiSvgIcon-root {
				width: 1.25em;
				height: 1.25em;
				margin: -0.2em 0 0 -0.25em;
			}
		}

		.header-logo {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-weight: bold;
			font-size: 1.7em;
		}

		.site-nav {

			margin-left: auto;

			ul {
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				padding: 0;
				height: 100%;

				li {
					list-style: none;
					height: 100%;
					padding: 0;

					a {
						position: relative;
						height: 100%;
						display: block;
						transition: all 0.3s ease-in;

						&.active {

							button {
								background-color: #65D9A5;
							}

							&:after {
								content: '';
								background-color: #FFFFFF;
								height: 0.17em;
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
							}
						}
					}

					.MuiButton-contained {
						height: 100%;

						&:hover {
							background-color: rgba(255, 255, 255, 0.15);
							border-radius: 0;
						}
					}
				}
			}
		}
	}
}

.app-main {
	padding: $header-height 0 0;

	.jumbotron {

		background-image: url(../../assets/img/cover.png);
		color: #FFFFFF;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-position: center center;
		height: 340px;

		h1 {
			text-transform: uppercase;
			font-weight: bold;
			color: $pure-white;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

			span {
				font-size: 0.8em;
				color: $color-theme-green;
				text-shadow: none;
			}
		}

		.search {
			width: 100%;
		}

		&:after {
			content: " ";
			position: absolute;
			background-repeat: no-repeat;
			overflow: hidden;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			padding-bottom: 3.4722222222%;
			background-image: url(../../assets/svg/wave-mask.svg);
			background-size: cover;
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 1em 0 2em;

		&.categories {

			h2 {
				text-transform: uppercase;
			}

			.categories-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.category-point {
					position: relative;

					.category {
						color: $pure-white;
						background-color: $color-theme-green;
						border-radius: 50%;
						width: 5em;
						height: 5em;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;


						&:hover {
							background-color: #65D9A5;

							img {
								width: 90%;
							}
						}

						img {
							width: 80%;
							transition: all 0.1s ease-in;
						}

						& ~ p {
							display: none;
							position: absolute;
							border-top: 0;
						}

						&:hover ~ p {
							display: block;

						}
					}
				}
			}
		}

		&.login,
		&.register {

			.login-from,
			.register-from {

				width: 24em;

				p {
					.MuiFormControl-root {
						width: 100%;
					}

					.MuiSvgIcon-root {
						color: #707070;
					}

					.email {
						.MuiSvgIcon-root {
							margin: 0 0.45em 0 0;
						}
					}

					margin: 0 0 2em;
				}

				button.MuiButton-containedPrimary {
					margin-top: 2em;
					width: 100%;
				}
			}
		}
	}
}

.app-footer {
	margin-top: auto;
	background: $color-theme-green;
	color: $pure-white;

	.wrapper {
		min-height: 3em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.copy-icon {
			margin: -0.09em 0.15em 0;
			height: 0.75em;
		}

		span {

			&.site-name {
				font-weight: bold;
				font-size: 1.25em;
				padding: 0 0.5em;
			}

			&.dev-by {
				padding: 0 0.5em;
			}
		}



		a {
			color: $pure-white;

			&.developer {

				img {
					height: 1.75em;
				}
			}
		}
	}
}
