.app {

  //transition: all 0.5s ease-in-out;

  &.dark {
    background: #383737;
    background: linear-gradient(135deg, #383737 0%, #474747 100%);
  }
}

.app-main {
  padding: $header-height 0 0;

  .jumbotron {

    background-image: url(../../assets/img/cover.png);
    color: $pure-white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    height: 31vh;
    padding: 0 2em;

    h1 {
      margin-top: 1em;
      text-transform: uppercase;
      font-weight: bold;
      color: $pure-white;
      font-size: 2.25em;
      text-shadow: 1px 2px 2px rgba(35, 109, 97, 0.6);

      span {
        font-size: 1.2em;
        color: $color-theme-green;
      }
    }

    .search-form {
      width: 100%;

      .formik-field {
        .MuiIconButton-root {
          padding: 5px;
          border-radius: 8px 8px 0 0;
          color: $pure-white;
          background-color: $color-theme-green;

          &:hover {
            background-color: #43C99F;
          }
        }
      }
    }

    &:after {
      content: " ";
      position: absolute;
      background-repeat: no-repeat;
      overflow: hidden;
      bottom: -3px;
      left: 0;
      right: 0;
      width: 100%;
      padding-bottom: 3.4722222222%;
      background-image: url(../../assets/svg/wave-mask.svg);
      background-size: cover;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0 3em;

    &.categories {

      padding-bottom: 2em;

      .categories-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;

        .category-point {
          position: relative;
          flex: 1 1 15%;
          margin: 0 0.5em 2.5em;
          padding-bottom: 2em;

          .category {
            color: $pure-white;
            background-color: $color-theme-green;
            border-radius: 50%;
            width: 5.2em;
            height: 5.2em;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            & ~ p {
              display: none;
              position: absolute;
              left: 0;
              right: 0;
              text-align: center;
              min-height: 2em;
              padding: 0.5em 0 0;
              color: $color-theme-green;
              font-size: 1.25em;
            }

            &:hover ~ p {
              display: block;

            }


            &:hover {
              background-color: #46CD9A;

              img {
                width: 90%;
              }
            }

            img {
              width: 80%;
              transition: all 0.1s ease-in;
            }
          }
        }
      }
    }

    &.all-offers {

      .search-and-filters {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        flex-wrap: wrap;

        .search-form,
        .formik-select {
          width: 70%;
          margin: 0 auto;
        }

      }
    }

    &.login,
    &.forgot-password,
    &.reset-password,
    &.register,
    &.add-comment,
    &.register-confirm,
    &.user-details,
    &.create-offer,
    &.edit-offer,
    &.delete-offer {

      .headings {
        text-align: center;
      }

      &.expired {
        .to-register-btn {
          width: 82%;
          margin-top: 3em;
        }
      ;
      }

      .go-to-register,
      .go-to-login {
        color: #3CC1A9;
        margin-top: 1em;
        opacity: 0.75;
        font-size: 0.85em;
      }

      .go-to-register:hover,
      .go-to-login:hover {
        opacity: 1;
      }

      .login-addons {
        display: flex;
        width: 82%;
        justify-content: space-between;
      }

      .login-from,
      .forgot-password-form,
      .reset-password-from,
      .user-details-form,
      .comment-from,
      .register-from,
      .register-confirm-from,
      .offer-from {

        width: 82%;

        .new-password {
          margin-top: 4em;
        }

        p {
          .MuiFormControl-root {
            width: 100%;
          }

          .MuiSvgIcon-root {
            color: #707070;
          }

          .email {
            .MuiSvgIcon-root {
              margin: 0 0.45em 0 0;
            }
          }

          margin: 0 0 2em;
        }

        button.MuiButton-containedPrimary {
          margin-top: 2em;
          width: 100%;
        }
      }

      .register-confirm-from {
        .headings {
          text-align: center;
        }

        a {
          color: $pure-white;
        }
      }
    }

    &.view-offer {

      .view-offer-title {
        margin-top: 1em;
      }

      .view-offer-category {
        width: 90%;
        text-align: center;
        padding-bottom: 2em;
        border-bottom: 1px dashed #3CC0AA;
        margin-bottom: 3em;
      }

      .offer-meta {

        width: 90%;
        display: flex;
        flex-flow: wrap;
        margin: 2em 0 0;
        justify-content: space-between;
        align-items: center;

        .offer-icons {
          display: flex;
          align-items: center;
          justify-content: left;
          margin: 0 0 1em 0;
          font-size: 1.1em;
          position: relative;

          .price-tag-icon {
            color: $color-theme-green;
            transform: rotate(-45deg) translateY(-60%);
            font-size: 8em;
            position: absolute;
            top: 38%;
            left: 0.5em;
            z-index: 1;
          }

          .price-tag {
            position: relative;
            z-index: 2;
            border-radius: 0.5em;
            background: #3CC0AA;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 1em 1em 1.2em;
            height: 4.7em;
            margin-left: 2.06em;
            color: $pure-white;

            .price {
              margin: 0;
              padding: 0;
              font-size: 1.1em;

              span {
                font-size: 1.7em;
                font-weight: bold;
                color: $pure-white;
              }
            }

            .favorites {
              font-size: 1.6em;

              &:hover {
                cursor: pointer;
              }
            }

            .added-offer {
              color: #E8D257;
              margin-left: 0.5em;
              -webkit-filter: drop-shadow(1px 1px 1px rgba(120, 120, 120, 0.7));
              filter: drop-shadow(1px 1px 1px rgba(120, 120, 120, 0.7));
            }
          }

          .share-offer {
            font-size: 1.2em;
            margin-left: 0.3em;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .creator-info {

          tr {
            padding: 0;
            color: $color-theme-green;

            td:nth-child(1) {
              text-align: right;
              padding-right: 0.5em;
            }

            td:nth-child(2) {
              font-weight: bold;

              &.offer-created-date {
                span {

                  opacity: 1;
                  font-size: 0.9em;
                }
              }
            }
          }
        }
      }

      padding-bottom: 2em;

      .comments-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        padding: 4em 0 0;
        border-top: 1px dashed #3CC0AA;
      }

      .view-offer-img-wrapper {
        display: block;
        position: relative;
        width: 90%;
        height: 0;
        padding-bottom: 45%;
        overflow: hidden;
        border-radius: 0.25em;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 1px 0 white inset, 0.1em 0.2em 0.5em 0 rgba(0, 0, 0, 0.2);

        img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .offer-content {
        width: 90%;
        margin: 2em 0;
      }

      .price {
        margin: 0;
        padding: 0;
        font-size: 1em;

        span {
          font-size: 1.7em;
          font-weight: bold;
          color: #3CC0AA;
        }
      }
    }
  }
}

.loading {
  .MuiCircularProgress-root {
    height: 4.5em;
    width: 4.5em;
    color: #3CC0AA;
  }
}

.dark .app-main {

  color: rgba(255, 255, 255, 0.8);

  a {
    color: rgba(255, 255, 255, 0.8);
  }

  .jumbotron {

    background-image: url(../../assets/img/cover-dark.png);

    h1 {

      span {

      }

    }

    .search-form {

      .formik-field {
        .MuiIconButton-root {

          color: $pure-white;

          &:hover {

          }
        }
      }
    }

    &:after {
      background-image: url(../../assets/svg/wave-mask-dark.svg);
      //-webkit-transition: all 0.5s ease-in-out;
      //transition: all 0.5s ease-in-out;
    }
  }

  .wrapper {


    &.categories {


      .categories-container {


        .category-point {


          .category {


            & ~ p {

            }

            &:hover ~ p {


            }


            &:hover {


              img {

              }
            }

            img {

            }
          }
        }
      }
    }

    &.login,
    &.register,
    &.create-offer,
    &.edit-offer,
    &.delete-offer {

      .login-from,
      .register-from,
      .offer-from {


        p {
          .MuiFormControl-root {

          }

          .MuiSvgIcon-root {
            color: #707070;
          }

          .email {
            .MuiSvgIcon-root {

            }
          }


        }

        button.MuiButton-containedPrimary {

        }
      }
    }

    &.view-offer {
      .view-offer-img-wrapper {


        img {

        }
      }

      .view-offer-back-btn {

      }
    }
  }
}

.app-footer {
  margin-top: auto;
  background: $gradient-theme;
  color: $pure-white;
  font-size: 0.85em;
  padding: 0.4em 0 0.1em;

  .wrapper {
    min-height: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .copy-icon {
      margin: -0.09em 0.15em 0;
      height: 0.75em;
    }

    span {

      &.site-name {
        font-weight: bold;
        font-size: 1.25em;
        padding: 0 0.5em;
      }

      &.dev-by {
        padding: 0 0.5em;
      }
    }


    a {
      color: $pure-white;

      &.developer {

        img {
          height: 1.7em;
          margin-top: 0.3em;
        }
      }
    }
  }
}
