@media (min-width: 1px) {
  .sub-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-top: 4em;
    padding-top: 2em;
    position: relative;
  
    button {
      max-height: 2.8em;
    }
  }
  
  .create-offer,
  .edit-offer,
  .delete-offer {
  
    .sub-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 82%;
      margin-top: 4em;
      padding-top: 2em;
      position: relative;
  
      button {
        max-height: 2.8em;
      }
    }
  }
}

@media (min-width: 769px) {
  
  .create-offer,
  .edit-offer,
  .delete-offer {
     width: 30em;
  
    .sub-footer {
      width: 30em;
    }
  }

}

@media (min-width: 1281px) {
	
}

@media (min-width: 1921px) {

}
