//colors
$color-theme-blue: #2BAAC3;
$color-theme-blue-light: #BEB8EB;
$color-theme-blue-bgrd-text: #BFE5EC;

$color-theme-red: #DA241A;
$color-theme-red-bgrd-text: #F3BDBA;
$color-theme-purple: #9F55BE;
$color-theme-purple-light: #BEB8EB;
$color-theme-brown: #3F302B;
$color-theme-brown-mid: #786E6A;
$color-theme-brown-light: #C3A791;

$color-icon-purple: #BE5199;
$color-icon-orange: #E87C16;
$color-icon-light-orange: #F7934C;
$color-icon-yellow: #FFC145;
$color-icon-green: #49A950;
$color-icon-light-green: #A7C127;
$color-icon-gold: #D2AD43;

$color-theme-yellow: #FED766;
$color-theme-white: #F8FFE5;
$color-theme-white-brgd-text: #747F83;

$color-main-bgrd: #fbf8f2;

$color-theme-grey: #A3ABBD;

$color-theme-green-brgd-text: #B4F2E2;
$color-theme-green: #4AD295;

$pure-white: #FFFFFF;
$color-site-bgrd: #DFE0E4;
$color-base-font-black: #333333;
$color-base-font-green-black: #394F49;
$color-soft-black: #231F20;

//font size
$font-size-large-desktop: 20px;
$font-size-desktop: 16px;

$font-size-tablet: 15px;

$font-size-phone: 14px;

//radius
$header-height: 3.5em;
$border-radius-main: 1.7rem;
$border-radius-mid: 1.2rem;
