//colors
$color-theme-blue: #2BAAC3;
$color-theme-blue-light: #BEB8EB;
$color-theme-blue-bgrd-text: #BFE5EC;

$color-theme-red: #DA241A;
$color-theme-red-bgrd-text: #F3BDBA;
$color-theme-purple: #9F55BE;
$color-theme-purple-light: #BEB8EB;
$color-theme-brown: #3F302B;
$color-theme-brown-mid: #786E6A;
$color-theme-brown-light: #C3A791;

$color-icon-purple: #BE5199;
$color-icon-orange: #E87C16;
$color-icon-light-orange: #F7934C;
$color-icon-yellow: #FFC145;
$color-icon-green: #49A950;
$color-icon-light-green: #A7C127;
$color-icon-gold: #D2AD43;

$color-theme-yellow: #FED766;
$color-theme-white: #F8FFE5;
$color-theme-white-brgd-text: #747F83;

$color-main-bgrd: #fbf8f2;

$color-theme-grey: #A3ABBD;

$color-theme-green-brgd-text: #B4F2E2;
$color-theme-green: #3CC0AA;
$color-theme-green-hover: #65D9A5;

$gradient-theme: linear-gradient(160deg, #2baac3 0%, #4AD295 100%);
$gradient-theme-hover: linear-gradient(160deg, #2BB5CE 0%, #4CDE9F 100%);
$gradient-theme-disabled: linear-gradient(160deg, #B1E0E9 0%, #B4F2E2 100%);
$gradient-theme-disabled-dark: linear-gradient(160deg, #185D68 0%, #277051 100%);

$gradient-edit-btn: linear-gradient(160deg, #1184BC 0%, #2EAEBF 100%);
$gradient-edit-btn-hover: linear-gradient(160deg, #1581CB 0%, #2DBCCD 100%);
$gradient-edit-btn-disabled: linear-gradient(160deg, #236c9c 0%, #1a8f9c 100%);

$gradient-delete-btn: linear-gradient(160deg, #EE363E 0%, #7C57E1  100%);
$gradient-delete-btn-hover: linear-gradient(160deg, #EA0329 0%, #FF3522 100%);
$gradient-delete-btn-disabled: linear-gradient(160deg, #a02237 0%, #655297 100%);

$color-button-delete: #FD1D1D;
$color-delete-button-hover: #FF3522;

$pure-white: #FFFFFF;
$color-site-bgrd: #DFE0E4;
$color-base-font-black: #333333;
$color-base-font-green-black: #252626;
$color-base-font-grey: #5F6368;
$color-soft-black: #231F20;

//font size
$font-size-large-desktop: 17px;
$font-size-desktop: 16px;

$font-size-tablet: 15px;

$font-size-phone: 14px;

//radius
$header-height: 3.5em;
$border-radius-main: 1.7rem;
$border-radius-mid: 1.2rem;
