.MuiSwitch-root.theme-switch {

  margin: auto 0;

  .MuiSwitch-switchBase {
    padding: 8px 6px 8px 10px;
    color: #FFFFFF;
    left: -6px;
  }

  .MuiSwitch-thumb {
    height: 0.75em;
    width: 0.75em;
  }

  .MuiSwitch-colorPrimary.Mui-checked {
    color: #FFFFFF;
  }

  .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: #FFFFFF;
  }

  .MuiSwitch-track {
    width: 1.9em;
    height: 0.8em;
  }

}
