.img-preview-wrapper {
  position: relative;
  width: 100%;
  padding-top: 45%;
  overflow: hidden;
  margin-top: 1em;
  border-radius: 0.25em;

  .img-preview {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.image-label {
  background: #3bbfab;
  color: #ffffff;
  padding: 0.3rem 1em;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9em;

  span {
    font-size: 1.75em;
    margin-bottom: -0.15em;
  }

  &:hover {
    background: linear-gradient(160deg, #2baac3 0%, #4AD295 100%);
  }
}

.hidden {
  display: none;
}

.upload-image {
  opacity: 0;
  height: 1em;
}
