.app-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	background: #4AD295;

	.wrapper {
		display: flex;

		a {
			color: #FFFFFF;
			text-decoration: none;

		}

		.header-logo {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.3em;
		}
	}

}
