.code-error {
  svg {
    color: #41C6A2;
    font-size: 10em;
    animation: rotation 12s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}