.formik-field {

	.MuiInputAdornment-positionEnd > svg {
		margin-right: 5px !important;
		color: #707070;
	}

	.MuiIconButton-root {
		padding: 0 5px;
	}

	.MuiFormHelperText-root {
		min-height: 3em;
		color: #fd4646;
		padding: 0.5em 0 0;
		margin: 0 !important;
	}

	.formik-textarea {

		.MuiFilledInput-adornedEnd {
			padding-right: 0.5em;
		}

		.MuiInputLabel-root {
			top: -0.5em
		}

		.MuiSvgIcon-root {
			position: absolute;
			top: 0.35em;
			right: 0.1em;
		}
	}
}

.dark .formik-field {

	.MuiInputAdornment-positionEnd > svg {

		color: #FFFFFF;
	}

	.MuiIconButton-root {
		padding: 0 5px;
	}

	.MuiFormHelperText-root {
		min-height: 3em;
		color: #fd4646;
		padding: 0.5em 0 0;
		margin: 0 !important;
	}
}
