body {
  padding: 0 !important;
}


.MuiButton-root.submenu-btn {
  color: #FFFFFF;
  margin-left: 0.8em;
}

#nav-menu {

  .MuiPopover-paper {
    top: 3.5em !important;
    background: linear-gradient(160deg, #4AD295 0%, #2baac3 100%);
    border-radius: 0 0 0.4em 0.4em;

    ul {
      padding: 0;

      li {

        padding: 0;

        a {
          padding: 0.5em 1.75em 0.5em 1em;
          color: #FFFFFF;
          display: flex;
          align-items: center;

          .submenu-icon {
            margin-right: 0.5em;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
