.snackbar {
  & > div {
    top: 4.8em !important;
    max-width: 25em;

    .MuiAlert-action {
      display: flex;
      align-items: flex-start;
      margin-top: 2px;
    }

    .MuiAlert-filledSuccess {
      background: linear-gradient(160deg, #34c32b 0%, #4AD295 100%);
    }

    .MuiAlert-filledError {
      background: linear-gradient(160deg, #EE363E 0%, #e11d64 100%);
    }
  }
}