.categories-from {
  width: 30em;
}

.add-category-input {
  margin-top: 1em;
}

.category-add,
.category-edit,
.category-delete {
  padding: 2em;
  border: 1px dashed #3CC0AA;
  border-radius: 1em;
}

.category-edit,
.category-delete {
  margin-top: 2em;
}

.category-delete {
  padding-top: 3.5em;
}