@import './sass/_variables.scss';
@import './sass/_mixins.scss';
@import './sass/_typography.scss';
@import './sass/_animations.scss';
@import './sass/media.scss';

#root {
	.app-main {
		button.MuiButton-containedPrimary {

			&:hover {

				background-color: #65D9A5;
			}
		}
	}
}

.app {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	max-width: 60em;
	margin: 0 auto;
}

.loading {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

