@import './sass/_variables.scss';
@import './sass/_mixins.scss';
@import './sass/_typography.scss';
@import './sass/_animations.scss';
@import './sass/media.scss';

#root {

	button:disabled {
		cursor: not-allowed;
		pointer-events: all !important;
	}

	.app-header {

		.active {
			background-color: rgba(255, 255, 255, 0.1);
		}

		.header-logo.active {
			background-color: rgba(0, 0, 0, 0);
		}

		.MuiButton-containedPrimary {
			background-color: rgba(0, 0, 0, 0);

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

			&:disabled {
				background-color: $gradient-theme-disabled;
			}
		}
	}

	.app-main {
		button.MuiButton-containedPrimary {
			color: $pure-white;
			background: $gradient-theme;

			&:hover {
				background: $gradient-theme-hover;
			}

			&:disabled {
				background: $gradient-theme-disabled;
			}
		}

		button.edit-btn {
			color: $pure-white;
			background: $gradient-edit-btn;

			&:hover {
				color: $pure-white;
				background: $gradient-edit-btn-hover;
			}

			&:disabled {
				//background: $gradient-theme-disabled;
			}
		}

		button.delete-btn {
			color: $pure-white;
			background: $gradient-delete-btn;

			&:hover {
				color: $pure-white;
				background: $gradient-delete-btn-hover;
			}

			&:disabled {
				background: $gradient-theme-disabled;
			}
		}
	}
}

.MuiInputBase-input {
	color: #3CC0AA !important;
	font-weight: bold !important;
	font-size: 1.4em !important;
}

.btn-medium {
	width: 47%;
}

.btn-small {
	width: 20%;
}

// scrollbar

html {

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: #4AD295;
		border-radius: 12px;
	}

	&::-webkit-scrollbar-track {
		background: $pure-white;
	}

	// for Mozilla
	scrollbar-width: thin;
	scrollbar-color: $color-theme-green $pure-white;
}

.app {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	max-width: 60em;
	margin: 0 auto;
}

.loading {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.page-heading {
	text-transform: uppercase;
	margin-bottom: 1em;
	position: relative;

	&:after {
		content: '';
		background: $color-theme-green;
		position: absolute;
		bottom: -0.35em;
		left: 50%;
		transform: translateX(-50%);
		width: 4em;
		height: 0.06em;
		border-radius: 50%;
	}
}

